<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles%}
    <link rel="stylesheet" href="{% static 'reviews/css/styles.css'%}" type="text/css">
    <title>{{page_title}}</title>
</head>
<body>

<div>
    <nav>
        <div>
            <a href="{% url 'reviews:review_list' %}">Reviews</a>
        </div>
        <div id="navbar">
            <ul>
                <li><a href="{% url 'reviews:item_list' %}">Item List</a></li>
                <li><a href="{% url 'reviews:review_list' %}">Home</a></li>
            </ul>
        </div>
    </nav>

    <h1>{% block title %}(no title){% endblock %}</h1>


    {% block content %}(no content){% endblock %}
</div>

</body>
</html>

