{% extends "reviews/base.html"%}
{% load bootstrap3 %}

{% block title %}{{item.name}}{% endblock %}

{% block content %}
<!--
================================================================================
                                                                ITEM INFORMATION
================================================================================
-->
<div class="item_container">
    <article class="item_content">
        <header class="item_header">
            <h3>{{item.name}}</h3>
        </header>
        <footer class="item_footer">
            <p class="item_info">Number of Reviews: {{item.num_reviews}}</p>
        </footer>
        {% if item.average_rating == None %}
        <p>No ratings yet</p>
        {% else %}
        <p>Average Rating: {{item.average_rating | floatformat:2 }}</p>
        {% endif %}
    </article>
</div>

<!--
================================================================================
                                                            ADD/VIEW YOUR REVIEW
================================================================================
-->
{% if form == "done" %}
    <h2>Your Review of this item</h2>
    {% with review=user_review show_title=False show_user=False review_max_len=False %}
        {% include "reviews/review_snippet.html" %}
    {% endwith %}
{% else %}
    {% include "reviews/add_review_snippet.html" %}
{% endif %}

<!--
================================================================================
                                                           LIST PREVIOUS REVIEWS
================================================================================
-->
{% if reviews %}
<h2>What other people had to say about this item</h2>
{% endif %}

<div class="row">
{% for review in reviews %}
    {% if review == user_review %}{# SKIP YOUR REVIEW #}
    {% else %}
        <div class="col-xs-12 col-md-6 col-lg-4">
        {% with show_title=False show_user=True review_max_len=40 %}
        {% include "reviews/review_snippet.html" %}
        {% endwith %}
        </div>
    {% endif %}
{% endfor %}
</div>

{% endblock %}