{% block content %}
<article class="item_content">
    <header class="item_header">
        TODO: include option to include item name and author name
        <!-- if include_item_title -->
        <h3>{{review.item.name}}</h3>
        <!--endif-->
        <br><h3>Rating: {{review.rating}}</h3>
        <br><h4>{{review.author.full_name}}</h4>
    </header>
    <footer class="content_footer">
        <time pubdate="pubdate">{{review.pub_date|date:"jS \o\f F Y"}}</time>
    </footer>
    <p>{{review.review|safe}}</p>
</article>
{% endblock %}
