{% block content %}
<article class="item_content">
    <header class="item_header">
        {% if show_title %}<h3>{{review.item.name}}</h3><br>{% endif %}
        <h3>Rating: {{review.rating}}</h3>
        {% if show_user %}<br><h4>{{review.author.full_name}}</h4>{% endif %}
    </header>
    <footer class="content_footer">
        <time pubdate="pubdate">{{review.pub_date|date:"jS \o\f F Y"}}</time>
    </footer>
{% if review_max_len %}
    <p>{{review.review|safe|truncatechars:review_max_len}}</p>
    <h5><a href="{% url 'reviews:single_review' review.id %}">Read more</a></h5>
    {% else %}<p>{{review.review|safe}}
{% endif %}
</article>
{% endblock %}
