{% extends "reviews/base.html"%}
{% block content %}
<div class="item_container">
    <div class="item_content">
        <article class="typical_article">
            <header class="item_header">
                <h3>{{review.item.name}}</h3>
                <br><h3>Rating: {{review.rating}}</h3>
                <br><h4>{{review.author.full_name}}</h4>
            </header>
            <footer class="content_footer">
                <p class="item_info">{{review.pub_date|date:"jS \o\f F Y"}}</p>
            </footer>
            <content>
                <p>{{review.review|safe}}
                </p>
            </content>
        </article>
    </div>
</div>
{% endblock %}